.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;
  margin-bottom: 80px; }

/* set default */
/* green: #7CDCAC
   yellow: #FFCF6D
   Font: Open Sans Bold
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* change color / font */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  /* 1.7 times bigger */
  line-height: 1.7;
  color: #777;
  /* padding for surrounding*/
  padding: 1em; }

.header {
  display: flex;
  flex-direction: column;
  height: 65vh;
  background-color: #7CDCAC;
  /* clip path ,polygon(x y, x y, x y)*/
  clip-path: polygon(0 0, 100% 0%, 100% 50vh, 0% 100%); }
  .header .logo-box {
    display: flex;
    flex: 1; }
  .header .logo {
    height: 35px;
    margin-left: 1em;
    margin-top: 1em; }
  .header .text-box {
    display: flex;
    flex-direction: column;
    flex: 8;
    align-items: center;
    justify-content: center; }

.heading {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  /* backface-visibility: hidden; */ }
  .heading-main {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 5px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-sub {
    font-size: 0.5em;
    font-weight: 500;
    letter-spacing: 5px;
    animation: moveInRight 1s ease-out; }

/* header animation start*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* btn */
.btn-white {
  display: flex;
  background-color: #FFCF6D;
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
  border-radius: 50px;
  transition: all .2s; }

.btn-animated {
  animation: moveInBottom .5s ease-out .75s backwards;
  /*  apply to the start*/
  /* animation-fill-mode: backwards; */ }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 45px; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px); }

.heading-secondary {
  text-align: center; }

.row {
  max-width: 100px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 30px; }
